@page "/products"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Lab2Webb.Shared

@inject NavigationManager _navigationManager
@inject HttpClient HttpClient

<h1 class="text-center">Products</h1>

<table class="table">
	<thead>
	<tr>
			<th></th>
			<th>Name</th>
			<th>Description</th>
			<th>Type</th>
			<th>In Stock</th>
			<th>Price</th>
	</tr>
	</thead>

<tbody>
<Virtualize Items="ProductList.OrderByDescending(p=>p.Price).ToArray()" Context="product">
	<tr>
		<td>
			<img src="@product.ImgURL" alt="product image" />
		</td>
		<td class="align-middle">
			@product.Name
		</td>
		<td class="align-middle" >
			@product.Description
		</td>
		<td class="align-middle">
			@product.Type
		</td>
		<td class="align-middle">
			@product.Status
		</td>
		<td class="align-middle">
			@product.Price
		</td>
	</tr>
</Virtualize>
</tbody>
</table>


