@page "/products"
@using System.Data


@inject HttpClient HttpClient

<h1 class="text-center">Products</h1>

<div>
	<div class="col-3">
		<h3>Get Product By Id</h3>

		<EditForm Model="CurrentProduct" OnSubmit="GetProdFromId">
			<InputText class="form-control m-2" @bind-Value="CurrentProduct.ProductId"></InputText>
			<button>Search</button>
		</EditForm>
	</div>

	<div>
		<button @onclick="ResetList">Reset</button>
	</div>

	<div class="col-3">
		<h3>Get Product By Name</h3>

		<EditForm Model="CurrentProduct" OnSubmit="GetProdFromName">
			<InputText class="form-control m-2" @bind-Value="CurrentProduct.Name"></InputText>
			<button>Search</button>
		</EditForm>
	</div>
</div>


<div>
	<button @onclick="ResetList">Reset</button>
</div>


<table class="table">
	<thead>
	<tr>
			<th></th>
			<th>Name</th>
			<th>Description</th>
			<th>Type</th>
			<th>In Stock</th>
			<th>Price</th>
			<th>Product Number</th>
	</tr>
	</thead>

	<tbody>
	
	
	<Virtualize Items="ProductList.OrderByDescending(p => p.Price).ToArray()" Context="product">
		<tr>
			<td>
				<img src="@product.ImgURL" width="100" height="100" alt="product image"/>
			</td>
			<td class="align-middle">
				@product.Name
			</td>
			<td class="align-middle">
				@product.Description
			</td>
			<td class="align-middle">
				@product.Type
			</td>
			<td class="align-middle">
				@product.Status
					<button @onclick="() => UpdateStockStatus(product.ProductId, product, product.Status)" class="btn btn-info">Change</button>
			</td>
			<td class="align-middle">
				@product.Price
			</td>
			<td class="align-middle">
				@product.ProductId
			</td>
		</tr>
	</Virtualize>
	</tbody>
</table>


